body{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}
* {
  box-sizing: border-box;
}

a.navbar-brand {
    padding: 20px 0;
}


.bg-light {
    background-color: #ccc !important;
}


.heading h1 {
    margin: 30px 0 40px 0;
    font-size: 35px;
}


h2.text-center {
    margin: 15px 0;
    font-size: 28px;
    font-weight: 700;
}

@media (min-width: 768px){

.column1 {
    margin: 0 30px 50px 30px;
    background: #ccc;
}


}

@media (max-width: 767px){

.column1 {
    margin: 0 60px 50px 60px;
    background: #ccc;
}

}

hr.visible-sm {
    margin-top: 2px;
}

div#navbarNav {
    background-color: #fff;
}










