h1 {
	font-size: 30px;
	text-align: center;
	margin: 30px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	display: flex;
}
.column1 {
    width:33.33333333%;
    float:left;
    margin: 15px;
    background-color: #ccc;
    border: solid 2px #000;
    position: relative;
}

.column2 {
    width:33.33333333%;
    float:left;
    background-color: #ccc;
    border: solid 2px #000;
    margin: 15px;
    position: relative;
}

.column3 {
    width:33.33333333%;
    float:left;
    background-color: #ccc;
    border: solid 2px #000;
    margin: 15px;
    position: relative;
}

p {
	margin: 60px 20px 20px 20px;
}

.column1 h2 {
    margin: -2px;
    font-size: 20px;
    padding: 8px;
    background: #e5d8;
    border: 2px solid #000;
    position: absolute;
    right: 0;
}

.column2 h2 {
	font-size: 20px;
    margin: -2px;
    padding: 8px;
    background: #e5d8;
    border: 2px solid #000;
    position: absolute;
    right: 0;
}

.column3 h2 {
	font-size: 20px;
    margin: -2px;
    padding: 8px;
    background: #e5d8;
    border: 2px solid #000;
    position: absolute;
    right: 0;
}
