*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

div#c1 {
    background-color: #ccc;
    border: 2px solid #000;
}

div#c2 {
    background-color: #ccc;
    border: 2px solid #000;
}

div#c3 {
    background-color: #ccc;
    border: 2px solid #000;
}

.sec {
    margin: 10px;
}

.column1 h2{
    float: right;
    background-color: #d59898;
    padding: 6px;
     border: 2px solid #000;
         margin: -2px;
}
.column2 h2{
    float: right;
    background-color: #c14543;
    padding: 6px;
        margin: -2px;
    border: 2px solid #000;
}
.column3 h2{
    float: right;
    background-color: #e5d198;
    padding: 6px;
        margin: -2px;
     border: 2px solid #000;
}
p {
    padding: 20px;
    padding-top: 50px;	
}


.row{
  width: 100%;
  position: relative;
}

h1 {
	text-align: center;
	    margin: 30px;
}

@media (min-width: 992px){

  .column {
    float: left;
     width: 33.33%;

  }


@media (min-width: 768px) and (max-width: 991px){
  .column1 {
    float: left;
    width: 50%;
    
  }
  #c3{
   width: 100%;
   float: left;
 }
}

@media (max-width: 767px){
.column1 {
    margin: 0 60px 50px 60px;
  }
}