h1 {
	
	text-align: center;
}

.row {
    display: flex;
}

.column1 {
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
}

.column2 {
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
}

.column3 {
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
}